.card-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @include tablet{
    grid-template-columns:  1fr 1fr 1fr;
    gap: 20px;
  }

  @include desktop{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}